---
import { Icon } from "astro-icon/components";

const currentYear = new Date().getFullYear();
---

<footer class="bg-secondaryVariant900 py-20">
  <div
    class="layout flex flex-col items-center justify-center space-y-14 font-medium lg:space-y-16 lg:text-lg"
  >
    <ul class="flex items-center justify-center space-x-7 md:space-x-11">
      <li class="transition-colors hover:bg-primary">
        <a href="/">Projects</a>
      </li>
      <li class="transition-colors hover:bg-primary">
        <a href="/">About</a>
      </li>
      <li class="transition-colors hover:bg-primary">
        <a href="/blogs">Blog</a>
      </li>
    </ul>

    <div
      class="flex items-center justify-center space-x-8 md:mt-8 md:justify-start"
    >
      <Icon
        name="github"
        width={32}
        height={32}
        title="antonio lopez github link"
        class="transition-colors hover:text-primary"
      />
      <Icon
        name="linkedin"
        width={32}
        height={32}
        title="antonio lopez linkedin link"
        class="transition-colors hover:text-primary"
      />
      <Icon
        name="envelope"
        width={32}
        height={32}
        title="antonio lopez email link"
        class="transition-colors hover:text-primary"
      />
    </div>

    <p>© Antonio Lopez {currentYear}</p>
  </div>
</footer>
