<nav
  class="flex h-14 items-center border-b-[.5px] border-foreground/20 font-['Bebas_Neue']"
>
  <div class="layout flex items-center justify-between">
    <a href="/" class="text-2xl transition-colors hover:bg-primary md:text-3xl"
      >ANTONIO LOPEZ</a
    >

    <ul class="flex space-x-4 md:space-x-9 md:text-lg">
      <li class="transition-colors hover:bg-primary">
        <a href="/projects">PROJECTS</a>
      </li>
      <li class="transition-colors hover:bg-primary">
        <a href="/">ABOUT</a>
      </li>
      <li class="transition-colors hover:bg-primary">
        <a href="/blogs">BLOG</a>
      </li>
    </ul>
  </div>
</nav>
