---
import SectionHeading from "../ui/SectionHeading.astro";
---

<section class="dots">
  <div class="layout py-20">
    <SectionHeading title="Experience" />
    <div
      class="mt-10 grid grid-cols-1 md:grid-cols-[minmax(100px,_220px)_1fr] lg:mt-14"
    >
      <p class="lg:text-lg">May 2023 - Present</p>
      <div>
        <p class="text-lg font-bold lg:text-xl">Sk8 N Meet Santana</p>
        <p class="font-semibold lg:text-lg">Web developer - Content manager</p>
        <ul class="ml-8 mt-4 list-outside list-disc lg:text-lg">
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
          <li>
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </li>
          <li>Feugiat scelerisque varius morbi enim nunc faucibus a.</li>
          <li>
            Condimentum vitae sapien pellentesque habitant morbi tristique
            senectus. Sed risus pretium quam vulputate dignissim suspendisse.
            Tempus iaculis urna id volutpat lacus laoreet non.
          </li>
          <li>
            Pretium lectus quam id leo in. Et malesuada fames ac turpis egestas
            integer eget. Eget nullam non nisi est sit. Quis vel eros donec ac.
            Enim neque volutpat ac tincidunt vitae. Donec adipiscing tristique
            risus nec feugiat in fermentum posuere urna.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
