---
import SocialLinks from "../ui/SocialLinks.astro";

const currentYear = new Date().getFullYear();
---

<footer class="bg-secondaryVariant900 py-20">
  <div
    class="layout flex flex-col items-center justify-center space-y-14 font-medium lg:space-y-16 lg:text-lg"
  >
    <ul class="flex items-center justify-center space-x-7 md:space-x-11">
      <li class="transition-colors hover:bg-primary">
        <a href="/projects">Projects</a>
      </li>
      <li class="transition-colors hover:bg-primary">
        <a href="/about">About</a>
      </li>
      <li class="transition-colors hover:bg-primary">
        <a href="/blogs">Blog</a>
      </li>
    </ul>

    <SocialLinks />

    <p>© Antonio Lopez {currentYear}</p>
  </div>
</footer>
