---
import SectionHeading from "../ui/SectionHeading.astro";
---

<section class="dots">
  <div class="layout py-20">
    <SectionHeading title="Experience" />
    <div
      class="mt-10 grid grid-cols-1 md:grid-cols-[minmax(100px,_220px)_1fr] lg:mt-14"
    >
      <p class="lg:text-lg">May 2023 - Present</p>
      <div>
        <p class="text-lg font-bold lg:text-xl">Sk8 N Meet Santana</p>
        <p class="font-semibold lg:text-lg">
          Full-Stack Developer / Content manager
        </p>
        <ul class="ml-8 mt-4 list-outside list-disc lg:text-lg">
          <li>
            Transformed client's concepts into functional, user-friendly, and
            optimized web applications using NextJS, a React framework
          </li>
          <li>
            Provided image optimization and hosting solutions for a large volume
            of images captured at meetups with content delivery networks and
            adhering to best practices
          </li>
          <li>
            Worked closely in collaboration to ensure backend content remained
            up-to-date using a content management system
          </li>
          <li>
            Performed ongoing maintenance of website and provide technical
            support to team
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
