---
interface Props {
  title: string;
  order: string;
}

const { title, order } = Astro.props;
---

<h3 class="font-['Bebas_Neue'] text-3xl lg:text-5xl">
  <span class="heading-stroke-sm text-background">{order}</span>
  {title}
</h3>
