---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<div class="relative z-10 inline-block py-1 md:py-3">
  <h1 class="inline-block text-3xl font-bold -tracking-[0.012] lg:text-6xl">
    {title}
  </h1>
  <div
    class="absolute bottom-1 -z-10 w-full border-[5px] border-primaryVariant500 md:border-[10px]"
  >
  </div>
</div>
<p class="mt-4 lg:text-lg">{description}</p>
