<div
  class="list-disc prose-h2:my-4 prose-h2:text-xl prose-h2:font-semibold prose-p:mb-2 prose-a:text-[#97A2DD] prose-a:underline prose-code:bg-[#282a36] prose-img:rounded-xl prose-h2:lg:text-2xl prose-p:lg:text-lg"
>
  <slot />
</div>
