---
import "@fontsource-variable/rubik";
import "@fontsource/bebas-neue";
import Navbar from "../components/layout/Navbar.astro";
import Footer from "@/components/layout/Footer.astro";
import { SEO } from "astro-seo";
interface Props {
  title: string;
  description: string;
  basicType: string;
  basicUrl: string;
  imageUrl: string;
  imageAlt: string;
  canonical: string;
}

const {
  title,
  description,
  basicType,
  basicUrl,
  imageUrl,
  imageAlt,
  canonical,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO
      title={title}
      description={description}
      canonical={canonical}
      openGraph={{
        basic: {
          title: title,
          type: basicType,
          url: basicUrl,
          image: imageUrl,
        },
        image: {
          url: imageUrl,
          type: "image/png",
          width: 1600,
          height: 630,
          alt: imageAlt,
        },
      }}
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
