<div
  class="prose-h2:my-4 prose-h2:text-xl prose-h2:font-semibold prose-p:mb-2 prose-a:text-[#97A2DD] prose-a:underline prose-code:bg-[#282a36] prose-ul:my-[1.3333333em] prose-ul:pl-[1.5555556em] prose-li:my-[0.6666667em] prose-li:ml-[0.4444444em] prose-li:list-disc prose-img:rounded-xl prose-h2:lg:text-2xl prose-p:lg:text-lg prose-li:lg:text-lg"
>
  <slot />
</div>
