---
import { Icon } from "astro-icon/components";
---

<div class="mt-8 flex items-center justify-center space-x-8 md:justify-start">
  <a
    href="https://github.com/antonio-lopez"
    target="_blank"
    rel="noopener noreferrer"
    title="antonio lopez github link"
  >
    <Icon
      name="github"
      width={32}
      height={32}
      title="antonio lopez github link"
      class="transition-colors hover:text-primary"
    />
  </a>
  <a
    href="https://www.linkedin.com/in/antoniolopez6/"
    target="_blank"
    rel="noopener noreferrer"
    title="antonio lopez linkedin link"
  >
    <Icon
      name="linkedin"
      width={32}
      height={32}
      title="antonio lopez linkedin link"
      class="transition-colors hover:text-primary"
    />
  </a>
  <a href="https://github.com/antonio-lopez" title="antonio lopez email link">
    <Icon
      name="envelope"
      width={32}
      height={32}
      title="antonio lopez email link"
      class="transition-colors hover:text-primary"
    />
  </a>
</div>
